html,body {
    height: 100%;
    margin: 0;
}

h1,h4,footer,p {
    text-align: center;
    font-family: "Roboto", sans-serif;
}

h4 {
    font-size: 10pt;
}

.header {
    margin: 40px;
}

.col-sm-4 {
    text-align: center;
    font-size: 14pt;
}

.footer p {
    text-align: bottom;
    margin: 40px;
    font-size: 10pt;
}

.footer {
    min-height: 100%;
    margin-bottom: -50px;
}

